<div class="jumbotron">
  <%= form_for([@user, @note]) do |f| %>
    <%= render 'errors' %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_field :body,  size: 80 %>
    </div>
    <div class="field">
      <%= f.label :tags %><br />
      <%= f.text_field :tags, value: "Separate tags using commas", size: 40 %>
    </div>

    <div class="actions">
      <br />
      <%= f.submit "Create Note" %>
    </div>
  <% end %>
</div>
